@use '~/components/variables.scss';

div.checkbox {
  position: relative;
  display: flex;
  gap: variables.$d-2;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color variables.$td-2;

  div.checkbox-checkmark {
    position: relative;
    width: variables.$d-5;
    border-width: variables.$bw-1;
    border-style: solid;
    border-color: variables.$color-gray;
    transition-duration: variables.$td-2;
    transition-property: border-width, border-color;
    aspect-ratio: 1;

    svg.icon {
      position: absolute;
      left: 0.1em;
      display: none;
      width: variables.$d-5;
      aspect-ratio: 13 / 10;
    }
  }

  p {
    color: variables.$color-gray;
    font-weight: 300;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }

  input:checked {
    & ~ div.checkbox-checkmark {
      border-color: variables.$color-green;

      svg.icon {
        display: block;
      }
    }

    & ~ p {
      color: variables.$color-dark;
    }
  }
}
