@use '~/components/constants.scss' as c;

div.input-group {
  margin-bottom: c.$d-7;

  p.input-group-header {
    margin-bottom: c.$d-5;
    color: c.$c-dark;
    font-weight: 300;
  }

  div.input-group-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: c.$d-3;
    align-items: center;

    p {
      color: c.$c-dark;
    }

    div.custom-input-wrapper {
      max-width: 15em;
    }

    input[type='datetime-local'] {
      display: block;
    }

    div.date-time-picker {
      display: none;
    }

    @media (min-width: c.$w-tablet) {
      input[type='datetime-local'] {
        display: none;
      }

      div.date-time-picker {
        display: block;
      }
    }
  }
}
