@use '~/components/variables.scss';

%btn-custom {
  position: relative;
  padding: variables.$d-5 variables.$d-7;
  font-weight: 500;
  font-size: variables.$fs-3;
  border: none;
  outline: none;
  transition: filter variables.$td-2;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }
}

button.custom-button {
  @extend %btn-custom;

  &.medium {
    color: variables.$color-light;
    border-radius: variables.$d-1;

    &.green {
      background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
    }

    &.blue {
      background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
    }

    &.orange {
      background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
    }

    &.purple {
      background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
    }
  }

  &.large {
    color: white;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    border-radius: variables.$d-2;
  }

  &.loading > p {
    visibility: hidden;
  }

  &.loading::after {
    position: absolute;
    inset: 0;
    display: block;
    width: variables.$d-6;
    margin: auto;
    border: variables.$d-0 solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    content: '';
    aspect-ratio: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
