@use '~/components/variables.scss';

#main-page {
  display: grid;
  grid-template-columns: 1fr;
  min-height: inherit;

  @media (min-width: variables.$desktop-mini-width) {
    grid-template-columns: minmax(600px, 1fr) 1fr;
  }

  #main-page__content {
    position: relative;
    display: grid;
    grid-column: 1;
    grid-template-rows: auto 1fr auto;

    @media (min-width: variables.$tablet-width) {
      grid-template-rows: 1fr 3fr auto;
    }

    header,
    footer {
      padding: variables.$d-5;

      @media (min-width: variables.$tablet-width) {
        padding: variables.$d-7;
      }

      @media (min-width: variables.$desktop-mini-width) {
        padding: variables.$d-7 variables.$d-9;
      }
    }

    #main-page__content__info {
      margin: variables.$d-5;

      @media (min-width: variables.$tablet-width) {
        margin: 0 variables.$d-7;
      }

      @media (min-width: variables.$desktop-mini-width) {
        margin: 0 variables.$d-9;
      }

      h1 {
        margin: 0;
        font-size: 32px;

        @media (min-width: variables.$tablet-width) {
          font-size: 70px;
        }
      }

      & > p {
        margin-top: variables.$d-5;
        margin-bottom: variables.$d-7;
        font-size: 18px;

        @media (min-width: variables.$tablet-width) {
          font-size: 26px;
        }
      }

      button {
        padding-right: variables.$d-8;
        padding-left: variables.$d-8;

        @media (width <= calc(variables.$tablet-width - 1px)) {
          width: calc(100% + variables.$d-7);
          margin: calc(0em - variables.$d-5);
          border-radius: 0;
        }
      }
    }
  }

  #slider {
    display: none;

    @media (min-width: variables.$desktop-mini-width) {
      display: flex;
      grid-column: 2;
    }
  }
}
