@use '~/components/constants.scss' as c;

#menu {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  height: 100dvh;
  background-color: c.$c-dark-gray;

  @media (min-width: c.$w-tablet) {
    position: sticky;
  }

  #menu__sidebar {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    transition-duration: c.$td-2;
    transition-property: padding;

    button.lang-btn {
      display: none;
    }

    @media (min-width: c.$w-tablet) {
      justify-content: space-between;
      width: fit-content;
      padding: c.$d-6 c.$d-5 c.$d-4 c.$d-5;

      button.lang-btn {
        display: block;
      }
    }

    @media (min-width: c.$w-desktop-mini) {
      padding: c.$d-6 c.$d-2 c.$d-4 c.$d-2;
    }

    #menu-btn {
      position: absolute;
      top: c.$d-5;
      left: c.$d-5;

      @media (min-width: c.$w-tablet) {
        position: static;
      }
    }
  }

  #menu__container {
    position: absolute;
    display: flex;
    width: 100vw;
    height: inherit;
    margin-left: 0%;
    transition: background-color c.$td-2;

    button.lang-btn {
      position: absolute;
      bottom: c.$d-6;
      left: c.$d-6;
      display: block;
    }

    @media (min-width: c.$w-tablet) {
      width: calc(100vw - 100%);
      margin-left: 100%;

      button.lang-btn {
        display: none;
      }
    }

    #menu__container__content {
      display: grid;
      grid-template-rows: c.$d-9 auto 1fr;
      overflow: hidden;
      background-color: c.$c-dark-gray;
      transition: width c.$td-2;

      @media (min-width: c.$w-tablet) {
        grid-template-rows: 1fr auto 1fr;
      }

      #nav-block {
        grid-row: 2;
      }
    }
  }

  &.collapsed {
    #menu-btn > svg.icon {
      width: 35px;
      height: 32px;

      @media (min-width: c.$w-tablet) {
        width: 48px;
      }

      @media (min-width: c.$w-desktop-mini) {
        width: 40px;
      }
    }

    #menu__container {
      background-color: transparent;
      animation: hide-menu c.$td-2 forwards;

      #menu__container__content {
        width: 0%;
      }
    }
  }

  &.expanded {
    #menu-btn > svg.icon {
      width: 32px;
      height: 32px;
    }

    #menu__container {
      background-color: c.$c-dark-gray-tr;
      visibility: visible;

      #menu__container__content {
        width: 100%;

        &.limited {
          @media (min-width: c.$w-desktop-mini) {
            width: max(calc(50%), 600px);
          }
        }
      }
    }
  }
}

@keyframes hide-menu {
  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
