@use '~/components/variables.scss';

#order-info {
  display: flex;
  flex-direction: column;
  gap: variables.$d-7;
  padding: variables.$d-5;

  @media (min-width: variables.$tablet-width) {
    padding: variables.$d-7;
  }

  @media (min-width: variables.$desktop-mini-width) {
    padding: variables.$d-7 variables.$d-9 0 variables.$d-7;
  }

  #order-info__options {
    display: flex;
    flex-direction: column;
    gap: variables.$d-5;
  }

  & > button.btn-large {
    width: 100%;
  }
}
