@use '~/components/variables.scss';

#order-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;

  @media (min-width: variables.$tablet-width) {
    padding: 2em;
  }

  @media (min-width: variables.$desktop-mini-width) {
    padding: 2em 4em 0 2em;
  }

  #order-info__options {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  button.btn-large {
    width: 100%;
  }
}
