@use '../variables.scss';

$transition-duration: 0.3s;

#menu {
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;

  #menu__sidebar {
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: transparent;
    width: 0;
    padding-top: 16px;
    button.lang-btn {
      display: none;
    }

    @media (min-width: variables.$tablet-width) {
      background-color: variables.$color-5;
      width: 86px;
      padding-top: 32px;
      justify-content: space-between;
      padding-bottom: 16px;
      button.lang-btn {
        display: block;
      }
    }

    @media (min-width: variables.$desktop-mini-width) {
      width: 64px;
    }

    #menu-btn {
      margin-left: 4em;
      @media (min-width: variables.$tablet-width) {
        margin-left: 0;
      }
    }
  }

  #menu__container {
    position: absolute;
    height: 100vh;
    display: flex;
    transition: background-color $transition-duration;

    width: 100vw;
    margin-left: 0%;
    button.lang-btn {
      display: block;
      position: absolute;
      bottom: 16px;
      left: 16px;
    }

    @media (min-width: variables.$tablet-width) {
      width: calc(100vw - 100%);
      margin-left: 100%;
      button.lang-btn {
        display: none;
      }
    }

    #menu__container__content {
      background-color: variables.$color-5;
      overflow: hidden;
      transition: width $transition-duration;
      position: relative;
    }
  }

  &.collapsed {
    #menu-btn > svg.icon {
      height: 32px;
      width: 35px;
      @media (min-width: variables.$tablet-width) {
        width: 48px;
      }
      @media (min-width: variables.$desktop-mini-width) {
        width: 40px;
      }
    }
    #menu__container {
      animation: hide_menu $transition-duration forwards;
      background-color: transparent;
      #menu__container__content {
        width: 0%;
      }
    }
  }

  &.expanded {
    #menu-btn > svg.icon {
      width: 32px;
      height: 32px;
    }
    #menu__container {
      visibility: visible;
      background-color: variables.$color-5-op;
      #menu__container__content {
        width: 100%;
        @media (min-width: variables.$desktop-mini-width) {
          width: max(calc(50%), 600px);
        }
      }
    }
  }
}

@keyframes hide_menu {
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
