@use '../variables.scss';

$transition-duration: 0.3s;

#menu {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  height: 100dvh;
  background-color: variables.$color-5;

  @media (min-width: variables.$tablet-width) {
    position: sticky;
  }

  #menu__sidebar {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    padding-top: 16px;
    transition: width $transition-duration;

    button.lang-btn {
      display: none;
    }

    @media (min-width: variables.$tablet-width) {
      justify-content: space-between;
      width: 86px;
      padding-top: 32px;
      padding-bottom: 16px;

      button.lang-btn {
        display: block;
      }
    }

    @media (min-width: variables.$desktop-mini-width) {
      width: 64px;
    }

    #menu-btn {
      margin-left: 4em;

      @media (min-width: variables.$tablet-width) {
        margin-left: 0;
      }
    }
  }

  #menu__container {
    position: absolute;
    display: flex;
    width: 100vw;
    height: inherit;
    margin-left: 0%;
    transition: background-color $transition-duration;

    button.lang-btn {
      position: absolute;
      bottom: 16px;
      left: 16px;
      display: block;
    }

    @media (min-width: variables.$tablet-width) {
      width: calc(100vw - 100%);
      margin-left: 100%;

      button.lang-btn {
        display: none;
      }
    }

    #menu__container__content {
      position: relative;
      overflow: hidden;
      background-color: variables.$color-5;
      transition: width $transition-duration;
    }
  }

  &.collapsed {
    #menu-btn > svg.icon {
      width: 35px;
      height: 32px;

      @media (min-width: variables.$tablet-width) {
        width: 48px;
      }

      @media (min-width: variables.$desktop-mini-width) {
        width: 40px;
      }
    }

    #menu__container {
      background-color: transparent;
      animation: hide_menu $transition-duration forwards;

      #menu__container__content {
        width: 0%;
      }
    }
  }

  &.expanded {
    #menu-btn > svg.icon {
      width: 32px;
      height: 32px;
    }

    #menu__container {
      background-color: variables.$color-5-op;
      visibility: visible;

      #menu__container__content {
        width: 100%;

        @media (min-width: variables.$desktop-mini-width) {
          width: max(calc(50%), 600px);
        }
      }
    }
  }
}

@keyframes hide_menu {
  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
