@use '~/components/variables.scss';

div.order-info-option {
  display: flex;
  gap: variables.$d-5;
  align-items: flex-end;
  white-space: pre-line;

  div.line-dotted {
    flex-grow: 1;
    margin-bottom: variables.$d-1;
    border-top: 1.5px dotted variables.$color-gray;
  }

  p.gray-text {
    text-align: right;
  }
}
