@use '~/components/variables.scss';

div.error-page {
  min-height: inherit;

  div.error-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: variables.$d-5;
    text-align: center;

    h1 {
      margin-top: variables.$d-8;
    }

    p {
      margin-top: variables.$d-5;
    }

    button {
      margin-top: variables.$d-8;
    }
  }
}
