@use '~/components/variables.scss';

#model-stage {
  #model-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 25em;
    margin-top: 2em;
    overflow-x: hidden;
    overflow-y: auto;
    border-width: 1px;
    border-style: solid;
    border-color: variables.$color-light;

    &::-webkit-scrollbar {
      width: 0.75em;
    }

    &::-webkit-scrollbar-track {
      background-color: variables.$color-light;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$color-gray;
    }

    @media (min-width: variables.$desktop-mini-width) {
      max-height: none;
    }

    @media (width >= calc(variables.$tablet-width + 100px)) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: variables.$desktop-mini-width) {
      grid-template-columns: 1fr;
    }

    @media (width >= calc(variables.$desktop-width - 200px)) {
      grid-template-columns: 1fr 1fr;
    }
  }

  div.spinner-wrapper {
    padding: 5em;
  }
}
