@use '~/components/constants.scss' as c;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  transition-duration: c.$td-1;
  transition-property: color, background-color, border-color, fill, border-width;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  overflow-x: clip;
  background-color: c.$c-dark-gray;
}

html.no-scroll {
  position: fixed;
  overflow: hidden;
}

#root {
  display: flex;
  min-height: inherit;

  main {
    display: grid;
    flex-grow: 1;
    flex-basis: 0;
    grid-template-rows: auto 1fr;
    background-color: white;

    @media (min-width: c.$w-tablet) {
      min-width: c.$w-tablet;
    }
  }

  #slider {
    display: none;
    flex-grow: 1;
    flex-basis: 0;

    @media (min-width: c.$w-desktop-mini) {
      display: grid;
    }
  }
}

p,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
  pointer-events: none;
}

.dark-text {
  color: c.$c-dark;
}

.green-text {
  color: c.$c-green;
}

.gray-text {
  color: c.$c-gray;
}

.light-text {
  color: c.$c-light;
}

.white-text {
  color: white;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.ta-right {
  text-align: right;
}

.fs-3 {
  font-size: c.$fs-3;
}

.fs-4 {
  font-size: c.$fs-4;
}

button {
  cursor: pointer;

  &.btn-icon {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &:disabled {
    cursor: default;
  }
}

div.custom-input-wrapper {
  display: flex;
  width: 100%;
  border-width: 0 0 c.$bw-1;
  border-style: solid;
  border-color: c.$c-gray;

  input {
    width: 100%;
    padding: 0 0 0 c.$d-2;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: c.$d-6;
    text-overflow: ellipsis;
    border: 0;
    outline: none;

    &::placeholder {
      color: c.$c-gray;
    }
  }

  button {
    display: flex;
    align-items: center;
    padding: 0 c.$d-2;
    font-size: inherit;
    background-color: transparent;
    border: none;
    outline: none;

    .icon {
      fill: c.$c-dark-gray;
    }
  }
}

div.centered-grid {
  $content-width: minmax(auto, c.$w-desktop);

  display: grid;
  grid-template-columns: auto $content-width auto;

  @media (min-width: c.$w-tablet) {
    grid-template-columns: auto $content-width auto;
  }

  @media (min-width: c.$w-desktop-mini) {
    grid-template-columns: auto $content-width auto;
  }

  & > * {
    grid-column: 2;
    padding-right: c.$d-5;
    padding-left: c.$d-5;
  
    @media (min-width: c.$w-tablet) {
      padding-right: c.$d-7;
      padding-left: c.$d-7;
    }
  
    @media (min-width: c.$w-desktop-mini) {
      padding-right: c.$d-9;
      padding-left: c.$d-9;
    }
  }
}

header,
footer {
  padding-top: c.$d-5;
  padding-bottom: c.$d-5;

  @media (min-width: c.$w-tablet) {
    padding-top: c.$d-7;
    padding-bottom: c.$d-7;
  }
}
