@use '~/components/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  overflow-x: clip;
}

html.no-scroll {
  position: fixed;
  overflow: hidden;
}

#root {
  display: flex;
  min-height: inherit;
}

main {
  width: 100%;
  min-height: inherit;
}

p,
h1 {
  margin: 0;
}

.dark-text {
  color: variables.$color-dark;
}

.green-text {
  color: variables.$color-green;
}

.gray-text {
  color: variables.$color-gray;
}

.light-text {
  color: variables.$color-light;
}

.white-text {
  color: white;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.ta-right {
  text-align: right;
}

.fs-3 {
  font-size: variables.$fs-3;
}

.fs-4 {
  font-size: variables.$fs-4;
}

button {
  cursor: pointer;

  &.btn-icon {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &:disabled {
    background: variables.$color-light;
    cursor: default;
  }
}

div.custom-input-wrapper {
  display: flex;
  width: 100%;
  border-width: 0 0 variables.$bw-1;
  border-style: solid;
  border-color: variables.$color-gray;

  input {
    width: 100%;
    padding: 0 0 0 variables.$d-2;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: variables.$d-6;
    text-overflow: ellipsis;
    border: 0;
    outline: none;

    &::placeholder {
      color: variables.$color-gray;
    }
  }

  button {
    display: flex;
    align-items: center;
    padding: 0 variables.$d-2;
    font-size: inherit;
    background-color: transparent;
    border: none;
    outline: none;

    .icon {
      fill: variables.$color-dark-gray;
    }
  }
}
