@use '~/components/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  overflow-x: clip;
}

#root {
  display: flex;
  min-height: inherit;
}

main {
  width: 100%;
  min-height: inherit;
}

p,
h1 {
  margin: 0;
}

.dark-text {
  color: variables.$color-dark;
}

.green-text {
  color: variables.$color-green;
}

.gray-text {
  color: variables.$color-gray;
}

.light-text {
  color: variables.$color-light;
}

.white-text {
  color: white;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.ta-right {
  text-align: right;
}

.fs-2 {
  font-size: variables.$fs-3;
}

.fs-3 {
  font-size: variables.$fs-4;
}

%btn-custom {
  font-weight: 500;
  font-size: variables.$fs-3;
  border: none;
  outline: none;
  transition: filter variables.$td-2;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }
}

button {
  cursor: pointer;

  &.btn-icon {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &.btn-medium {
    @extend %btn-custom;

    padding: variables.$d-4 variables.$d-7;
    color: variables.$color-light;
    border-radius: variables.$d-1;

    &.green {
      background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
    }

    &.blue {
      background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
    }

    &.orange {
      background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
    }

    &.purple {
      background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
    }
  }
}

a {
  text-decoration: none;

  &.btn-large {
    display: block;
    width: fit-content;
    text-align: center;
  }
}

a,
button {
  &.btn-large {
    @extend %btn-custom;

    padding: variables.$d-5 variables.$d-8;
    color: white;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    background-blend-mode: darken;
    border-radius: variables.$d-2;

    &:disabled {
      background: variables.$color-light;
    }
  }

  &:disabled {
    cursor: default;
  }
}

div.custom-input-wrapper {
  display: flex;
  border-width: 0 0 variables.$bw-1;
  border-style: solid;
  border-color: variables.$color-gray;

  input {
    width: 100%;
    padding: 0.1em 0 0.1em variables.$d-2;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-overflow: ellipsis;
    border: 0;
    outline: none;

    &::placeholder {
      color: variables.$color-gray;
    }
  }

  button {
    display: flex;
    align-items: center;
    padding: 0 variables.$d-2;
    font-size: inherit;
    background-color: transparent;
    border: none;
    outline: none;

    .icon {
      fill: variables.$color-dark-gray;
    }
  }
}
