@use '~/components/variables.scss';

#icon-menu-mobile {
  display: none;
  width: 35px;
  height: 32px;

  $max: calc(variables.$tablet-width - 1px);

  @media (max-width: $max) {
    display: block;
  }
}

#icon-menu-tablet {
  display: none;
  width: 48px;
  height: 32px;

  $min: variables.$tablet-width;
  $max: calc(variables.$desktop-mini-width - 1px);

  @media (min-width: $min) and (max-width: $max) {
    display: block;
  }
}

#icon-menu-desktop {
  display: none;
  width: 40px;
  height: 32px;

  $min: variables.$desktop-mini-width;

  @media (min-width: $min) {
    display: block;
  }
}
