@use '~/components/constants.scss' as c;

header {
  display: flex;
  flex-direction: column;
  gap: c.$d-2;
  align-items: flex-end;
  width: 100%;
  height: fit-content;

  @media (min-width: c.$w-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #header__logo > a {
    font-size: 30px;
  }

  #header__location {
    display: flex;
    gap: c.$d-2;
    align-items: center;
  }
}
