@use '~/components/variables.scss';

#order-info {
  display: flex;
  flex-direction: column;
  gap: variables.$d-7;

  #order-info__options {
    display: flex;
    flex-direction: column;
    gap: variables.$d-5;
  }

  & > button.btn-large {
    width: 100%;
  }
}
