@use '~/components/variables.scss';

#location-stage {
  #location-stage__input-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: variables.$d-3;
    align-items: center;
    margin-bottom: variables.$d-8;

    p {
      color: variables.$color-dark;
    }

    div.custom-input-wrapper {
      max-width: 20em;
    }
  }

  #location-stage__map {
    width: 100%;
    margin-top: variables.$d-5;

    img {
      max-width: 100%;
    }
  }
}
