@use '~/components/variables.scss';

#nav-block {
  position: absolute;
  top: 4em;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: variables.$d-6;
  padding-left: variables.$d-5;

  @media (min-width: variables.$tablet-width) {
    top: 50%;
    transform: translate(0, -50%);
  }

  p {
    font-size: 22px;
    cursor: pointer;
    transition: color variables.$td-2;
    user-select: none;

    @media (min-width: variables.$tablet-width) {
      font-size: 28px;
    }

    @media (min-width: variables.$desktop-mini-width) {
      font-size: 32px;
    }

    &:hover {
      color: variables.$color-green;
    }
  }

  #nav-block__btn-block {
    position: absolute;
    top: 100%;
    display: flex;
    gap: variables.$d-6;
    margin-top: variables.$d-7;

    .icon {
      transition: fill variables.$td-2;
      fill: variables.$color-light;

      &:hover {
        fill: variables.$color-green;
      }
    }
  }
}
