@use '../../variables.scss';

div.main-page {
  display: flex;
  width: 100%;

  div.main-page__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: variables.$desktop-width) {
      width: max(calc(50%), 600px);
    }

    & > div,
    header,
    footer {
      padding: 1em;
      @media (min-width: variables.$tablet-width) {
        padding: 2em;
      }
      @media (min-width: variables.$desktop-width) {
        padding: 2em 4em;
      }
    }

    div.main-page__content__info {
      flex-grow: 1;
      @media (min-width: variables.$tablet-width) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      h1 {
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        @media (min-width: variables.$tablet-width) {
          font-size: 70px;
        }
      }

      p {
        margin-top: 1em;
        margin-bottom: 2em;
        font-size: 18px;
        @media (min-width: variables.$tablet-width) {
          font-size: 26px;
        }
      }

      button {
        @media (max-width: calc(variables.$tablet-width - 1px)) {
          width: calc(100% + 2em);
          border-radius: 0px;
          margin: -1em;
        }
      }
    }
  }

  #slider {
    display: none;
    @media (min-width: variables.$desktop-width) {
      display: flex;
      flex-grow: 1;
    }
  }
}
