@use '~/components/constants.scss' as c;

#order-info {
  display: flex;
  flex-direction: column;
  gap: c.$d-7;

  #order-info__options {
    display: flex;
    flex-direction: column;
    gap: c.$d-5;
  }

  & > button.btn-large {
    width: 100%;
  }
}
