@use '~/components/variables.scss';

div.model-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: variables.$d-5;
  border-width: variables.$bw-1;
  border-style: solid;
  border-color: variables.$color-light;
  cursor: pointer;
  transition: border-color variables.$td-2;

  &:not(.active):hover {
    border-color: variables.$color-gray;
  }

  &.active {
    border-color: variables.$color-green;
  }

  p {
    width: 100%;
  }

  img {
    max-width: 75%;
    max-height: 100%;
    margin-top: variables.$d-7;
  }
}
