@use '~/components/variables.scss';

div.date-time-picker {
  user-select: none;
  
  div.date-time-picker__input-wrapper {
    display: flex;
    width: 10em;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: variables.$color-gray;
  }

  input {
    width: 100%;
    padding: 0.1em 0 0.1em 0.6em;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-overflow: ellipsis;
    border: 0;
    outline: none;

    &::placeholder {
      color: variables.$color-gray;
    }
  }

  div.date-time-picker__dialog {
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: fit-content;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: variables.$color-gray;
    border-radius: 0.5em;
  }

  p {
    font-size: 0.8em;
  }
}
