@use '~/components/variables.scss';

header {
  display: flex;
  flex-direction: column;
  gap: variables.$d-2;
  align-items: flex-end;
  height: fit-content;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #header__logo > a {
    font-size: 30px;
  }

  #header__location {
    display: flex;
    gap: variables.$d-2;
    align-items: center;
  }
}
