@use './variables.scss';

* {
  font-family: Roboto;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  overflow-x: clip;
}

#root {
  min-height: 100vh;
  display: flex;
}

main {
  width: 100%;
}

p {
  margin: 0;
}

.dark-text {
  color: variables.$color-2;
}

.green-text {
  color: variables.$color-1;
}

.gray-text {
  color: variables.$color-3;
}

.white-text {
  color: white;
}

button {
  cursor: pointer;

  &.btn-icon {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
  }

  &.btn-custom {
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    transition: filter variables.$transition-duration;
    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
  }

  &.btn-large {
    @extend .btn-custom;
    border-radius: 8px;
    color: white;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    background-blend-mode: darken;
    padding: 1em 4em;
  }

  &.btn-medium {
    @extend .btn-custom;
    color: variables.$color-4;
    border-radius: 4px;
    background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
    padding: 0.8em 2em;
  }
}


