// Colors
$c-green: #0ec261;
$c-green-tr: #0ec26133;
$c-dark: #121212;
$c-gray: #999;
$c-light: #eee;
$c-dark-gray: #151b1f;
$c-dark-gray-tr: #151b1fcf;

// Screen dimensions
$w-desktop: 1440px;
$w-desktop-mini: 1024px;
$w-tablet: 600px;

// Dimensions
$d-0: 0.2em;
$d-1: 0.25em;
$d-2: 0.5em;
$d-3: 0.75em;
$d-4: 0.8em;
$d-5: 1em;
$d-6: 1.5em;
$d-7: 2em;
$d-8: 3em;
$d-9: 4em;

// Font size
$fs-1: 0.8em;
$fs-2: 1em;
$fs-3: 1.2em;
$fs-4: 1.4em;

// Border width
$bw-1: 1px;
$bw-2: 2px;

// Transition duration
$td-1: 0.2s;
$td-2: 0.3s;
