$color-1: #0ec261;
$color-1-op: #0ec26133;
$color-2: #121212;
$color-3: #999;
$color-4: #eee;
$color-5: #151b1f;
$color-5-op: #151b1fcf;

$desktop-width: 1440px;
$desktop-mini-width: 1024px;
$tablet-width: 600px;

$transition-duration: 0.2s;
