// Colors
$color-green: #0ec261;
$color-green-tr: #0ec26133;
$color-dark: #121212;
$color-gray: #999;
$color-light: #eee;
$color-dark-gray: #151b1f;
$color-dark-gray-tr: #151b1fcf;

// Screen dimensions
$desktop-width: 1440px;
$desktop-mini-width: 1024px;
$tablet-width: 600px;

// Dimensions
$d-0: 0.2em;
$d-1: 0.25em;
$d-2: 0.5em;
$d-3: 0.75em;
$d-4: 0.8em;
$d-5: 1em;
$d-6: 2em;
$d-7: 3em;

// Font size
$fs-1: 0.8em;
$fs-2: 1em;
$fs-3: 1.2em;
$fs-4: 1.4em;

// Border width
$border-width: 1px;

// Other
$transition-duration: 0.2s;
