// Colors
$color-green: #0ec261;
$color-green-tr: #0ec26133;
$color-dark: #121212;
$color-gray: #999;
$color-light: #eee;
$color-dark-gray: #151b1f;
$color-dark-gray-tr: #151b1fcf;

// Sreen dimensions
$desktop-width: 1440px;
$desktop-mini-width: 1024px;
$tablet-width: 600px;

// Other
$transition-duration: 0.2s;
