@use '~/components/constants.scss' as c;

#slider {
  position: relative;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  background-color: c.$c-dark-gray;

  button.slider-btn {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;

    &:hover {
      background-color: c.$c-green-tr;
    }
  }

  #slider__content {
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    padding: c.$d-7;

    @media (min-width: c.$w-desktop) {
      grid-template-rows: 1fr auto 2fr;
    }

    #slider__content__info {
      grid-row: 2;

      h1 {
        margin-top: 0;
        margin-bottom: 0.2em;
        font-size: 32px;

        @media (min-width: c.$w-desktop) {
          font-size: 40px;
        }
      }

      & > p {
        font-size: 22px;

        @media (min-width: c.$w-desktop) {
          font-size: 24px;
        }
      }

      button {
        margin-top: 2em;
      }
    }
  }
}
