@use '../variables.scss';

footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 0.5em;
  background-color: variables.$color-5;

  @media (min-width: variables.$tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }

  p.footer_p_license {
    color: variables.$color-4;
    @media (min-width: variables.$tablet-width) {
      color: variables.$color-3;
    }
  }

  p.footer_p_phone {
    color: variables.$color-1;
    @media (min-width: variables.$tablet-width) {
      color: variables.$color-2;
    }
  }
}
