@use '~/components/variables.scss';

footer {
  display: flex;
  flex-direction: column-reverse;
  gap: variables.$d-2;
  align-items: flex-end;
  background-color: variables.$color-dark-gray;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }

  #footer__p-license {
    color: variables.$color-light;

    @media (min-width: variables.$tablet-width) {
      color: variables.$color-gray;
    }
  }

  #footer__p-phone {
    color: variables.$color-green;

    @media (min-width: variables.$tablet-width) {
      color: variables.$color-dark;
    }
  }
}
