@use '~/components/variables.scss';

div.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFFDF;

  div.pop-up__content {
    width: fit-content;

    p {
      margin-bottom: variables.$d-6;
      text-align: center;
    }

    button.btn-large {
      margin-right: variables.$d-5;
    }
  }

  &.visible {
    display: flex;
  }
}
