@use '~/components/variables.scss';

div.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;

  button {
    padding: 0;
    font-weight: 700;
    font-size: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    transition: color variables variables.$transition-duration;

    &:hover,
    &.active {
      color: variables.$color-green;
    }

    &:disabled {
      color: variables.$color-gray;
    }
  }
}
