@use '~/components/constants.scss' as c;

div.not-found-page {
  min-height: inherit;

  div.not-found-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: c.$d-5;
    text-align: center;

    h1 {
      padding: c.$d-8;
    }
  }
}
