@use '~/components/variables.scss';

div.not-found-page {
  min-height: inherit;

  div.not-found-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: variables.$d-5;
    text-align: center;

    h1 {
      padding: variables.$d-8;
    }

    button {
      padding: variables.$d-7;
    }
  }
}
