@use '~/components/variables.scss';

div.radio-button {
  position: relative;
  display: flex;
  gap: variables.$d-2;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color variables.$td-2;

  span.radio-button-checkmark::after {
    display: block;
    width: variables.$d-5;
    aspect-ratio: 1;
    border-width: variables.$bw-1;
    border-style: solid;
    border-color: variables.$color-gray;
    border-radius: variables.$d-5;
    transition-duration: variables.$td-2;
    transition-property: border-width, border-color;
    content: '';
  }

  p {
    color: variables.$color-gray;
    font-weight: 300;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }

  input:checked {
    & ~ span.radio-button-checkmark::after {
      border-width: 0.3em;
      border-color: variables.$color-green;
    }

    & ~ p {
      color: variables.$color-dark;
    }
  }
}
