@use '~/components/constants.scss' as c;

#nav-block {
  top: 4em;
  display: grid;
  flex-grow: 1;
  flex-direction: column;
  gap: c.$d-6;
  padding-left: c.$d-5;

  p {
    font-size: 22px;
    cursor: pointer;
    user-select: none;

    @media (min-width: c.$w-tablet) {
      font-size: 28px;
    }

    @media (min-width: c.$w-desktop-mini) {
      font-size: 32px;
    }

    &:hover {
      color: c.$c-green;
    }
  }

  #nav-block__btn-block {
    display: flex;
    gap: c.$d-6;
    margin-top: c.$d-7;

    .icon {
      fill: c.$c-light;

      &:hover {
        fill: c.$c-green;
      }
    }
  }
}
