@use '../variables.scss';

#slider {
  position: relative;
  background-color: variables.$color-5;

  button.slider-btn {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: variables.$transition-duration;

    &:hover {
      background-color: variables.$color-1-op;
    }
  }

  #slider__content {
    position: relative;
    flex-grow: 1;
    margin: 0 10%;

    #slider__content__info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: variables.$desktop-width) {
        top: 25%;
        transform: none;
      }

      h1 {
        margin-top: 0;
        margin-bottom: 0.2em;
        font-size: 32px;

        @media (min-width: variables.$desktop-width) {
          font-size: 40px;
        }
      }

      p {
        font-size: 22px;

        @media (min-width: variables.$desktop-width) {
          font-size: 24px;
        }
      }

      button {
        margin-top: 2em;
      }
    }
  }
}
